/* עיצוב התפריט */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

c-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* כדי שהווידאו יהיה ברקע */
}


.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#EFEDD8;
    z-index: 2; /* כדי שהתוכן יהיה קדמי */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafe-title{
    font-size: 0.7em;
}

.cafe-subtitle{
    font-size: 0.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #EFEDD8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


.logo {
    height: 40px;
    cursor: pointer;
    margin-bottom: auto;
}


.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.nav-links li {
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {


    .cafe-title{
        font-size: 1.5em;
    }

    .cafe-subtitle{
        font-size: 1em;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo {
        height: 50px;
        margin-bottom: 0;
    }

    .nav-links {
        flex-direction: row;
        gap: 20px;
    }
}